# Global

# System - Windows
/**/desktop.ini

# System - Macintosh
/**/.DS_Store

# Environment - Git
/.git

# Environment - Visual Studio
/**/.vs
/**/*.vcxproj.user
/**/*.csproj.user

# Environment - Visual Studio Code
/**/.vscode

# Common
/common/certificate

# Part - Windows
/Windows/.build
