# Global

# System - Windows
/**/desktop.ini

# System - Macintosh
/**/.DS_Store

# Environment - Git
/.git

# Environment - Visual Studio
/**/.vs
/**/*.vcxproj.user
/**/*.csproj.user

# Environment - Visual Studio Code
/**/.vscode

# Common

# Module - Windows
/Windows/.build

# Miscellaneous
/.local

# git clean -fdx -e /.local
